/* S T A N D A R D */

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
}

/* U T I L S */

.separator {
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.line {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #f0edff;
}

/* F O N T S */

.poppins-bold {
  font-weight: 700;
}

.poppins-regular {
  font-weight: 400;
  font-size: 16px;
}

/* -------- L E F T - S I D E : F O R M ------ */

.form-container {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.form-content {
  display: grid;
  gap: 1.5rem;
}

.form-header {
  text-align: center;
}

.form-header h1 {
  text-transform: uppercase;
  font-size: 30px;
}

.form-header p {
  color: #525252;
}

.form-fields {
  display: grid;
  gap: 1rem;
}

/* form input */
.group {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 364px;
}

input {
  height: 52px;
  width: 364px;
  font-size: 12px;
  color: #1c1c1c;
  outline: none;
  transition: 0.3s ease;
  border-radius: 16px;
  border: none;
  padding-left: 2.5rem;
  background-color: #f3f1ff;
}

input::placeholder {
  color: #1c1c1c;
  font-size: 12px;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: none;
  width: 1rem;
  height: 1rem;
}

/* B U T T O N S */

/* Login btn */
.login-btn {
  border: none;
  height: 52px;
  width: 124px;
  background-image: linear-gradient(135deg, #9181f4 0%, #5038ed 100%);
  border-radius: 16px;
  font-weight: 700;
  font-size: 12px;
  color: white;
  margin: 16px auto;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* login with social media button */
.social-login-btn {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  background-color: transparent;
  border: 1px solid #f0edff;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 364px;
  font-size: 12px;
  color: #1c1c1c;
  outline: none;
  transition: 0.3s ease;
  border-radius: 16px;
}

/* Logo inside login with social media button */
.logo {
  width: 30px;
  height: 30px;
}

/* -------- R I G H T - S I D E -------- */

.image-container {
  display: none;
}
@media (min-width: 1024px) {
  .image-container {
    display: flex;
    position: relative;
  }
}

.box {
  transform: translateY(-50%) translateX(-50%);
  inset: 50%;
  position: absolute;
  width: 65%;
  height: 65%;
  border-radius: 40px;
  border: 1px solid white;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
}

.box-text {
  color: white;
  font-size: 32px;
  font-weight: bold;
  line-height: 46px;
  padding: 20px 0 0 20px;
}

.box-icon {
  position: absolute;
  bottom: 5rem;
  left: -2.5rem;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.secretary-img {
  position: absolute;
  bottom: 0;
  right: -5rem;
  width: 99%;
  height: auto;
}
